body{
 margin: 0;
 background-color: rgb(43, 43, 43);
}

header{
 display: flex;
 justify-content: space-between;
 text-align: center;
}

header h1{
    font-family: "raleway" sans-serif ;
    color: rgb(144, 174, 164);
    text-transform: uppercase;
    text-shadow: 0.5px 1px 1px;
 font-size: 40px;
 margin: 10px;
}

header ul{
 display: flex; 
 justify-content: space-between;
 list-style: none;                      

}
header ul a:hover{
color: white;
text-decoration: underline;
background-color:  rgb(144, 174, 164);
border-radius: 4px;
}
header li{
 margin: 10px 30px;

}
header a{
 text-decoration: none; 
 color: rgb(144, 174, 164);
}
/* Main Body */
main ul{
list-style: none;
width: 95%;
margin: auto;
padding: 0;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 30px 30px;
}
:nth-child(3){
 grid-column-start: 1;
 grid-column-end: 3;
}
main li{
 background-color: white;
 width: 700px;
 display: flex;
 border-radius: 3px;
 overflow: hidden;
}

main ul div{
 padding: 20px;
 position: relative;
}
main li img{
width: 300px;
height: 300px;
}

.test-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.anchor-tag-card{
    text-align: right;
}

main ul div a{
 text-decoration: none;
 color: rgb(144, 174, 164);
 top: 100px;
 font-weight: 300;
 border-radius: 4px;
 padding: 15px;
}

.anchor-tag-card a:hover{
    color: rgb(196, 242, 226);
    background-color: rgb(159, 186, 177);
}
