body{
    font-family: "Quicksnad", sans-serif;
    margin: 0;
}
#logo-page a {
    font-family: 'Oleo Script', sans-serif;
    color: rgb(149, 149, 49);
    text-decoration: none;
    font-size: 50px;
    padding: 10px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-transform: uppercase ;
    /* cursor: zoom-in; */
    
}
ul{
    list-style: none;
}
header{
display: flex;
/* border: 3px solid black; */
justify-content: space-between;
}
ul{
display: flex;
/* text-align: right; */
/* margin-left: -220px; */
/* border: 3px solid black; */
/* text-align: center; */
justify-content: flex-start;
}
li{
padding: 10px;
text-align: left;
margin-right: 10px;
}
ul a{
text-decoration: none;
color: black;
}
ul :hover{
text-decoration: underline;
color: rgb(120, 0, 0);
}
/* The Main Body part   */
#hero{
 /* border: 3px solid red; */
 text-align: center;
 height: 700px;
 background-image: url("./Images/\ .jpg");
 background-position: center;
 background-size: cover;
}
#hero-content{
/* border: 3px solid red; */
background-color: rgba(51, 47, 47, 0.8);
width: 700px;
margin: auto;
border-radius: 4px;
padding: 50px;
position: relative;
top: 200px;
}

#hero-content a{
 text-decoration: none;
 color: white;
 padding: 10px;
 border-radius: 3px;
 background-color: rgb(164, 164, 7);
}
#hero-content p{
 margin-bottom: 20px;
}